<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <main class="form-container">
      <div class="form-div">
        <h1>Create Project</h1>
        <form
          class="project-form"
          action="{% url 'create_project' %}"
          method="post"
        >
          {% csrf_token %} {% for field in form %}
          <div class="field-container">
            <label for="{{ field.id_for_label }}"> {{ field.label }}</label>
            {{ field }}
          </div>
          {% endfor %}
          <button class="form-button" type="submit" value="Submit">
            Create Project
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
